# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Playwright
playwright-report/
test-results/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Allure Reports
allure-results/
allure-report/

# Logs
*.log

# IDE extras
.idea/
*.iml